@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding: 40px 32px;
  display: grid;
  gap: 24px;
  justify-items: center;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header"
    "btns"
    "experience"
    "info";
}

.container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  grid-area: btns;
}

.container .buttons .btn-primary {
  background: linear-gradient(90deg, #777CF4 2.62%, #F47777 93.38%);
  border-radius: 24px;
  width: 325px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.container .buttons .btn-primary:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #F47777 2.62%, #777CF4 93.38%);
}

.app.normal {
  background-color: white;
  color: black;
  height: auto;
}

.app.iphone,
.app.macbook {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.app.iphone .frame,
.app.macbook .frame {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 10px solid #000;
  overflow: hidden;
  border-radius: 35px;
  background-color: white;
}

.app.iphone .frame {
  width: 375px;
  height: 765px;
  border-radius: 32px;
}

.app.macbook .frame {
  width: 1280px;
  height: 765px;
  border-radius: 8px;
}

.app.iphone main,
.app.macbook main {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
}

.app.iphone main::-webkit-scrollbar,
.app.macbook main::-webkit-scrollbar {
  display: none;
}