.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 20px;
  text-align: center;
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

.about-section h2 {
  font-size: 28px;
  color: black;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  text-align: justify;

}

.languages-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tech-stack li {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}