.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #132f59;
}

.footer p {
    margin: 0;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}