.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* gap: 24px; */
    /* max-width: 500px; */
    grid-area: info;
    margin-bottom: 10px;
}

.infos .languages-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    max-width: 500px;
}

.infos .educational-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    width: 100%;
    /* margin-bottom: 10px; */
}

.infos span {
    color: var(--text-secondary);
    width: 100%;
}

@media (min-width: 768px) {
    .infos {
        align-items: flex-start;
        width: 100%;
    }

    .infos span {
        text-align: start;
        width: 100%;
    }
}