.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    gap: 16px;
}

.app.normal .header {
    position: fixed !important;
}

.header .window-control-circles {
    display: flex;
    align-items: center;
    gap: 8px;
}

.device-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 8px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 180%;
    transform: translateX(-200%);
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.4;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.translate-style {
    color: black;
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.icon-phone,
.icon-mac {
    font-size: 20px;
    color: black;
    display: none;
}

.app.iphone .icon-phone {
    display: block;
}

.app.iphone .icon-mac {
    display: none;
}

.app.macbook .icon-mac {
    display: block;
}

.app.macbook .icon-phone {
    display: none;
}

.nav-links {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-links a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-wrap: nowrap;
}

.nav-links a:hover {
    color: #8892b0;
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: white;
        padding: 8px;
        border-radius: 8px;
        gap: 12px;
        z-index: 100;
    }
}

.hamburger .bar {
    width: 20px;
    height: 2px;
    background-color: black;
}

.app.iphone .hamburger {
    display: flex;
}

.app.iphone .nav-links {
    display: none;
}

.app.iphone .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

.options-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.translate-section {
    display: flex;
    align-items: center;
}