.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #112240;
    padding: 10px 20px;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-links a {
    color: #64ffda;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    color: #ccd6f6;
}

/* .header-left {
    text-align: left;
} */