.section-title {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    color: var(--text-primary);
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 20px;
        line-height: 36px;
        text-align: start;
        margin-bottom: 10px;

    }
}