@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  from,
  to {
    border-right-color: transparent;
  }

  50% {
    border-right-color: black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes morphing {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    border-color: white;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    border-color: white;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    border-color: whitesmoke;
  }
}

.img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: white;
  color: black;
  overflow: hidden;
}

.profile-photo {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morphing 8s ease-in-out infinite;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border: 2px solid black;
  scale: 1.1;
}

.welcome-content h1 {
  font-size: 36px;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  animation: typing 4s steps(30, end), blink 1s step-end infinite;
  animation-fill-mode: forwards;
}

.welcome-content p {
  font-size: 18px;
  color: black;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 4s forwards;
}