.contacts-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 20px;
    text-align: center;
    background-color: white;
    min-height: 90vh;
    box-sizing: border-box;
}

.contacts-section h2 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

.contacts-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.contacts-section li {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contacts-section a {
    color: black;
    text-decoration: none;
}

.contacts-section a:hover {
    text-decoration: underline;
}