
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0a192f;
  color: #ccd6f6;
  overflow-x: hidden;
  scrollbar-width: none;

}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  padding-top: 80px;
}